#container {
  width: 40vw;
  height: 40vw;
  display: grid;
  justify-content: center;
  align-content: center;
  border: 1px solid black;
  grid-auto-flow: column;
  margin-top: 100px;
}
.grid {
  height: 100%;
  width: 100%;
  background-color: white;
}

body {
  justify-content: center;
  display: grid;
}
