#shell {
  background-color: #ec0e0d;
  min-width: 700px;
  max-width: 1100px;
  height: 500px;
  border-radius: 1%;
  margin: 30px 30px 30px;
  display: grid;
  padding: 0px 10px 40px;
  grid-template-rows: 0.1fr 2fr 0.1fr;
  border-style: outset;
  border-color: rgb(134, 63, 63);
}
h1 {
  margin: 0;
  text-align: center;
  font-family: "Courgette", cursive;
  color: goldenrod;
  text-shadow: 2px 2px black;
}
#btnDiv {
  display: grid;
  grid-row: 3;
  grid-template-columns: 1fr 1fr;
  margin-top: -25px;
}
#btnDiv button {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
#newGridBtn {
  position: relative;
  justify-self: center;
  right: 140px;
  font-family: "Architects Daughter", cursive;
  font-size: 1.2em;
  text-align: center;
}
#gitBtn {
  justify-self: center;
  position: relative;
  left: 140px;
  font-size: 3.4em;
}

#gitIcon:hover {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.5s;
  font-size: 1.1em;
}
#container {
  min-width: 400px;
  max-width: 600px;
  min-height: 400px;
  max-height: 600px;
  display: grid;
  justify-content: center;
  align-content: center;
  border: 2px inset gray;
  border-radius: 5px;
  grid-auto-flow: column;
  margin: 25px 80px 15px;
  background-color: lightgray;
}
.grid {
  height: 100%;
  width: 100%;
  background-color: lightgray;
}

body {
  justify-content: center;
  display: grid;
  background-color: lightblue;
  padding: 90px;
}
