#container {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(16, auto);
  grid-template-rows: repeat(16, auto);
  justify-content: center;
  align-content: center;
  border: 1px solid black;
  padding: 0;
  margin-top: 100px;
  overflow: hidden;
}
.grid {
  background-color: blue;
  height: 10px;
  width: 10px;
}
body {
  justify-content: center;
  display: grid;
}
